/* You can add global styles to this file, and also import other style files */
* {
    font-size: 12px;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.txt-error {
    color: var(--red-500);
}